.tile-file pre {
  overflow: hidden;
}

.tile-file {
  width: 250px;
  max-height: 350px;
  padding: 15px;
  margin: 15px;
  box-shadow: 9px 9px black;
  border: 3px solid black;
  margin-bottom: 30px;
  overflow: hidden;
  align-items: baseline;
}

.tile-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}


.files-edit-modal {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  margin: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; right: 0;
  margin: auto;
  margin: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.4)
}

.modal-closed {
  display: none;
}

.files-edit-modal-content {
  background: white;
  border: 3px solid black;
  box-shadow: 18px 18px black;
  margin: 48px;
  margin-top: 14px;
  padding: 24px;
}

.modal-actions {
  min-height: 48px;
  display: flex;
  flex-flow: row wrap;
  margin-top: -12px;
  padding-bottom: 24px;
}

.modal-actions button {
  border: 1px dotted black;
  font-size: 1.8rem;
  background: none;
  cursor: pointer;
  margin-right: 8px;
  width: 125px;
}
.modal-actions button:hover {
  box-shadow: -4px 4px;
  border: 1px solid black;
  transition: ease;
  transition-duration: 0.1s;
  margin-bottom: 4px;
  margin-top: -4px;
}

.title {
  text-align: center;
  flex-grow: 1;
  border: 1px dotted black;
  font-size: 1.8em;
  line-height: 2.1em;
}
.title i {
  color: #777;
  font-family: serif;
  margin-right: 6px;
}

.loading {
  animation: flash ease 0.1s ;
  background-color: #777;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.loading button {
  bordeR: 1px solid black;
  box-shadow: -4px 4px;
  transition: ease;
  transition-duration: 0.1s;
  margin-bottom: 4px;
  margin-top: -4px;
}